/* Variables */
$fonts: Arial, sans-serif;
$back-color: #fff;
$header-bg: #e89b6a;
$text-color: white;
$titles-color: #e2625c;
$newsletter-bg: #e4fdc3;
$footer-bg: #8ae2c8;
$button-bg: #e89b6a;
$box-shadow-color: lightgray;