body {
    font-family: Arial, sans-serif;
    background-color: #E38E49;
    color: #0A3981;
    text-align: center;
    margin: 20px;
    font-size: 1.25em;
}

header {
    color: #0A3981;
    text-align: left;
    padding: 20px;
    font-size: large;
    animation: title 3s ease-in-out;
    display: inline-block;
}

@keyframes title {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(0) rotateY(360deg);
    }
    100% {
        transform: translateY(0) scale(1.2);
    }
}

.main-section {
    margin: 20px auto;
    max-width: 800px;
    background-color: #D4EBF8;
    padding: 40px;
    border-radius: 10px;
}

p b {
    color:#E38E49;
    font-weight: normal;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.image-box {
    width: calc(50% - 5px); /*Used ai to help me understand what was wrong
    with my images not displaying correctly told me about calc function. Got this through w3 schools from reasarch on flexboxes with images.
    This function esures that each div box I've made for my images takes up only half the container width and also adjusts it from the gap i set.  */
    box-sizing: border-box;
}

.images img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .image-box {
        width: 100%;
    }
    
}
